html, body, .wrap{
  height: 100%;
}

.main{
  $headerWidth: 225px;
  min-height: 100%;
  background-color: #000;

  .header{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 81px;
    width: $headerWidth;
    color: #999;
    border-right: 1px solid rgba(255, 255, 255, .1);
  }
  
  .container{
    max-width: 100%;
    min-height: 600px;
    padding-left: $headerWidth;
  }
}